<nav class="nav">
    <div class="nav_flex container">
        <div class="logo">
            <img src="{{url_for('static', filename='/image/logo.png')}}" />
        </div>
        <div class="search">
            
            <div class="dropdown">
                <i class="fa-solid fa-bars search_icon_1 "></i>
                <div class="dropdown-content">
                    {% for c in cates%}
                    <a href="/products?genres={{c.name}}">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
          

            <i class="fa-solid fa-magnifying-glass search_icon_2"></i>
            <input class="input_search" type="text" placeholder="tìm kiếm sản phẩm">
        </div>
        <div class="social_icon">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>

</nav>