.products-list{
    background-color: #F0F0F0;
}
.products-list-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

.products-categorys{
    width: 20%;
    background-color: white;
    border-radius: 5px;
    height: 100%;
}
.products-categorys> h2{
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.all-products{
    width: 75%;
    background-color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
    height: 100%;
}
.product-cates{
    margin: 0.5rem 0 0.5rem 0.5rem;
}
.product-cates li{
    list-style: none;
    margin-bottom: 0.5rem;
}
.product-cates li a{
    text-decoration: none;
    color: black;
}
.product-cates li a:hover{
    color: rgb(122, 210, 54);
}

.product-cates-tree-view {
    cursor: pointer;
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .product-cates-tree-view::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .product-cates-tree-view-down::before {
    transform: rotate(90deg);  
  }
  
  .product-cates-tree-view-1 {
    display: none;
    margin-left: 2rem;
  }
  
  .active {
    display: block;
  }


  .products-price{
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-top: 2px solid black  ;
  }
  .products-price h2{
    margin-top: 0.5rem;
  }

  .product_book_box{
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product_book_card{
    width: 18%;
    margin: 1rem 0.3rem;
    align-items: center;

  }
  .product_book_card:hover{
    box-shadow: 2px 2px 10px rgb(200, 199, 199);
  }
  .product_book_img{
      
  }
  .product_book_img img{
    margin-top: 0.3rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

