* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.product{
    width: 100%;    
    background-color: rgb(235, 230, 230);
}
.container {
    width: 70%;
}

.product-container{
    display: flex;
    margin: 0 auto;
    background-color: white;
    padding-top: 0%;
    border-radius: 10px;
}
.product-left{
    width: 40%;
    margin-top: 3%;
}
.product-left .product-img{
    width: 80%;
}
.product-right{
    width: 60%;
    margin-top: 7%;
    margin-left: 5%;
}
.product-right > h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}
.product-right > div {
    font-size: 17px;
    padding-bottom: 10px;
}

.product-right > .price{
    font-size: 29px;
    font-weight: 700;
    color: rgb(226, 89, 89);
}

.product-right > form > label {
    font-size: 18px;
}
input#quantity{
    margin-left: 25px;
}

input[type=number] {
    padding: 2px 6px;
}

.action-submit {
    margin-top: 10px;
    display: flex  ;
    padding-bottom: 10px;
    margin-left: 20px;
}

.btn-add-product {
    padding: 5px;
    margin-right: 30px;
    font-size: 15px;
    color: red;
    border: 3px solid red;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}

.btn-buy {
    padding: 13px 55px;
    font-size: 15px;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    background: red;
    cursor: pointer;
}