{% extends 'layouts/base.html' %}
{% block title %}DANH SACH SAN PHAM{% endblock %}

{% block content %}

    <div style=" background-color:#F0F0F0;  height: 20px; width: 100%;">
    </div>
    <div class="products-list" id="products-list">
        <div class="products-list-container container">
            <div class="products-categorys">
                <h2>NHÓM SẢN PHẨM</h2>
                <ul class="product-cates">
                    <li><span class="product-cates-tree-view">Tất Cả Nhóm Sản Phẩm</span>
                        <ul class="product-cates-tree-view-1">
                            {% for c in cates%}
                            <li><a href="/products?genres={{c.name}}">{{c.name}}</a></li>
                            {% endfor %}
                        </ul>
                      </li>
                </ul>
                <div class="products-price">
                    <h2>GIÁ</h2>
                    <form action="">
                        <div class="product-price-rate">
                            <input onchange='check(this)' class="cb-change" type="checkbox" name="price" value="20">
                            <span> <= 20</span>
                        </div>
                        <div class="product-price-rate">
                            <input onchange='check(this)' class="cb-change" type="checkbox" name="price" value="30">
                            <span> <= 30</span>
                        </div>
                        <div class="product-price-rate">
                            <input onchange='check(this)' class="cb-change" type="checkbox" name="price" value="80">
                            <span> <= 80</span>
                        </div>
                        <div class="product-price-rate">
                            <input onchange='check(this)' class="cb-change" type="checkbox" name="price" value="100">
                            <span> <= 100</span>
                        </div>
                        <div class="product-price-rate">
                            <input onchange='check(this)' class="cb-change" type="checkbox" name="price" value="120">
                            <span> <= 120</span>
                        </div>
                        <input type="submit" value="Tìm">
                    </form>
                </div>
                <div>
                    <div>
                        <form action="">
                            <input type="text" name="keyword" placeholder="nhập sản phẩm muốn tìm">
                            <input type="submit" value="Tìm">
                        </form>
                    </div>
                </div>
            </div>
            <div class="all-products">
                <div class="product_book_box">
                    {% for b in books %}
                    <div class="product_book_card">
                        <div class="product_book_img">
                            <img src="{{url_for('static', filename=b.image)}}" /> 
                        </div>
                        <div class="prosuct_book_tag">
                            <div class="prosuct_book_tag_name">{{b.name}}</div>
                            <p class="writer">Tác giả:{{b.author}}</p>
                            <div class="categories">Thể loại:{{b.genres}}</div>
                            <p class="book_price">${{b.price}}<sub><del>$28.60</del></sub></p>
                            <a href="{{url_for('product_detail', book_id=b.id)}}">Learn More</a>
                        </div>               
                
                    </div>
                    {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                {% if pages > 1%}
                <ul class="pagination">
                    {% for p in range(1, pages+1) %}
                    <li class="page-item"><a class="page-link" href="{{url_for('product_list', page=p)}}">{{p}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
              </nav>
        </div>
    </div>
    <div style=" background-color:#F0F0F0;  height: 20px; width: 100%;">
    </div>
</div>
<script>
    var toggler = document.getElementsByClassName("product-cates-tree-view");
    var i;
    
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".product-cates-tree-view-1").classList.toggle("active");
        this.classList.toggle("product-cates-tree-view-down");
      });
    }

    function check(element){
    if(element.checked){
      var checkboxes = document.getElementsByClassName('cb-change');
        for(var i=0;i<checkboxes.length;i++){
           if(checkboxes[i]!=element)
             checkboxes[i].checked = false;
        }
    }
}
    </script>
{% endblock %}