{% extends 'layouts/base.html' %}
{% block title %}SẢN PHẨM{% endblock %}


{% block content %}

<div style=" background-color: rgb(235, 230, 230);height: 20px; width: 100%;">
</div>

<!-- Product -->
<section class="product" id="product">
    <div class="product-container container">
        <div class="product-left">
            <img class="product-img" src="{{url_for('static', filename=book.image)}}" />
            <div class="action-submit">
                <button class="btn-add-product" id="cart" onclick="addToCart({{book.id}}, '{{book.name}}', {{book.price}}, '{{book.image}}' )">Thêm vào giỏ hàng</button>
                <button class="btn-buy" id="submit">Mua ngay</button>
            </div>
        </div>
        <div class="product-right">
            <h1>{{book.name}}</h1>
            <div>Thông tin: {{book.description}}</div>
            <div>Tác giả: {{book.author}} </div>
            <div class="price">Giá tiền: {{book.price}}$</div>
        </div>
    </div>
</section>
<!-- Product -->

<div style=" background-color: rgb(235, 230, 230); height: 20px; width: 100%;">
</div>
{% endblock %}